<style>
    .table-hover tbody tr:hover > td,
    .table-hover tbody tr:hover > th {
      background-color: #eeeeee !important;
    }
    
    table tr td a {
        display:block;
        height:100%;
        width:100%;
    }
    
    .btn-circle {
      width: 35px;
      height: 35px;
      line-height: 40px;
      padding:0;
      border-radius: 50%;
    }
</style>
<div class="card body" style="margin-top: 0px;padding-top: 0px;" ng-controller="ES2015EstructuraCtrl">
    <table class="pull-right" border="1" cellspacing="0" cellpadding="5" style=" margin: auto 2 auto auto; text-align: center; vertical-align: middle; margin-left: 0px; margin-bottom: 8px; margin-top: 5px; margin-right: 20px;">
        <tbody><tr height="21" style=" background-color: #404040; color: #FFFFFF;">
            <td height="43" rowspan="2" style="vertical-align: middle; padding: 4px; border-right: 1 solid #FFFFFF;">
                RESPONSABLE</td>
            <td rowspan="2" style="vertical-align: middle; padding: 4px; border-right: 1 solid #FFFFFF;">
                ELECTORES</td>
            <td rowspan="2" style="vertical-align: middle;padding: 4px; border-right: 1 solid #FFFFFF;">
                MESAS</td>
            <td rowspan="2" style="vertical-align: middle; border-right: 1 solid #FFFFFF;">
                %</td>
            <td colspan="2" style="vertical-align: middle; padding: 2px;border-bottom: 1 solid #FFFFFF;">
                LEG. NAC.</td>
            <td rowspan="2" style="vertical-align: middle; padding: 4px; border-right: 1 solid #FFFFFF;border-left: 1 solid #FFFFFF;">
                GDOR.</td>
            <td colspan="2" style="vertical-align: middle; padding: 2px;border-bottom: 1 solid #FFFFFF;">
                LEG. PROV.</td>
            <td rowspan="2" style="vertical-align: middle; padding: 4px;border-left: 1 solid #FFFFFF;">
                INT.</td>
        </tr>
        <tr height="22" style=" background-color: #404040; color: #FFFFFF;">
            <td height="22" style="vertical-align: middle; padding: 2px;border-right: 1 solid #FFFFFF;">
                SEN.</td>
            <td style="vertical-align: middle; padding: 2px;">
                DIP.</td>
            <td style="vertical-align: middle; padding: 2px;border-right: 1 solid #FFFFFF;">
                SEN</td>
            <td style="vertical-align: middle; padding: 2px;">
                DIP</td>
        </tr>
        
        <tr height="21" style=" background-color: #FFFFFF; font-weight:600 !important; font-size: 14px;">
            <td height="21" style=" background-color: #FFFFFF; font-weight:600 !important;border-right: 1 solid #CCCCCC;">
                <a href="mailto:{{distrito.mailResponsable}}" style="color:#404040;" target="_top">{{distrito.responsable}}</a></td>
            <td style=" background-color: #FFFFFF; font-weight:600 !important;border-right: 1 solid #CCCCCC;">
                {{distrito.electores}}</td>
            <td style=" background-color: #FFFFFF; font-weight:600 !important;border-right: 1 solid #CCCCCC;">
                {{distrito.mesas}}</td>
            <td style=" background-color: #FFFFFF; font-weight:600 !important;border-right: 1 solid #CCCCCC; padding-left: 5px; padding-right: 5px;">
                {{distrito.porcentaje}}</td>
            <td style=" background-color: #FFFFFF; font-weight:600 !important;border-right: 1 solid #CCCCCC;">
                {{distrito.senadoresln}}</td>
            <td style=" background-color: #FFFFFF; font-weight:600 !important;border-right: 1 solid #CCCCCC;">
                {{distrito.diputadosln}}</td>
            <td style=" background-color: #FFFFFF; font-weight:600 !important;border-right: 1 solid #CCCCCC;">
                {{distrito.gobernador}}</td>
            <td style=" background-color: #FFFFFF; font-weight:600 !important;border-right: 1 solid #CCCCCC;">
                {{distrito.senadoreslp}}</td>
            <td style=" background-color: #FFFFFF; font-weight:600 !important;border-right: 1 solid #CCCCCC;">
                {{distrito.diputadoslp}}</td>
            <td style=" background-color: #FFFFFF; font-weight:600 !important;">
                {{distrito.intendentes}}</td>
        </tr>
        </tbody>
    </table>
    <div style="margin-bottom: 0px">
        <ul class="breadcrumb" style="margin-bottom: 0px;">
          <li><a href="/es2015" style="color:#404040;">Distritos</a> <span class="divider">/</span></li>
          <li class="active">{{distrito.nombre}}</li>
        </ul>
    </div>
    <h2 style="margin-top: 15px; margin-left: 15px; margin-bottom: 0px;">{{distrito.nombre}}</h2>
    <hr style="margin-top: 8px;margin-bottom: 5px;border-top-width: 5px;border-bottom-width: 1px;">
    <div class="card-body" ng-init="miTotal = 0" style="margin-top: 0px;margin-bottom: 10px;">
        <div class="row" style="padding-bottom: 0px; font-size:16px">
            <div class="span" style="display: table-cell; width:80%">
                <a ng-show="!reverse" href="#" ng-click="orden = 'nombre';reverse=true" style="color:#404040;"><b>Estructura de trabajos:</b></a>
                <a ng-show="reverse" href="#" ng-click="orden = 'orden';reverse=false" style="color:#404040;"><b>Estructura de trabajos:</b></a>
            </div>
            <div class="pull-right" style="width:15%">
                <b>Estado:</b>
                <a ng-click="nuevaEstruc(false)" href="#" ng-show="editando" class="pull-right" style="color:#404040;"><i class="icon-plus"></i></a>
                <a ng-click="editando=true" ng-hide="editando || !hasPermission('es2015.editar')" href="#" class="pull-right" style="color:#404040;"><i class="icon-edit"></i></a>
            </div>
        </div>
        <div style="overflow-y: scroll; overflow-x: hidden; position: absolute;top: 200px;background: white;bottom: 12px;right: 20px;left: 20px;border: 1px solid #FFD300;border-top: transparent;padding-left: 21px">
            <table class="table table-hover">
                <tbody>
                    <tr height="25" ng-repeat="e in estructuras | orderBy : orden" ng-if=hasPermission(quePermiso(e))>
                        <td width="85%">
                        <a href="/es2015/{{distrito._id}}/hitos?estructura={{e._id}}" style="color:#404040;"><span style="font-family: Tahoma; font-size: 18px; font-weight: 500; text-decoration: none;"> {{e.nombre}} </span></a>
                        </td>
                         
                        <td width="15%" style="padding-bottom: 0px;padding-top: 1px;">
                            <a class="btn btn-circle" ng-class="colorEstruc(e._id)" href="/es2015/{{distrito._id}}/hitos?estructura={{e._id}}">&nbsp;</a>
                            <a ng-click="eliminar(false, e)" type="button" ng-show="editando && hasPermission('es2015.admin')" class="btn-link" style="display: inline-block; float: right; padding-left: 0px; padding-right: 0px;;width: 22px;" title="Eliminar Estructura">
                                <i class="icon-trash"></i></a>
                            <a ng-click="detalleEstruc(false, e)" type="button" ng-show="editando" class="btn-link" style="display: inline-block; float: right; padding-left: 0px; padding-right: 0px;;width: 29px;" title="Editar Estructura">
                                <i class="icon-edit"></i></a>
                            <a ng-click="switchStar(e)" type="button" ng-show="editando" class="btn-link" style="display: inline-block; float: right; padding-left: 0px; padding-right: 0px;;width: 29px;" title="Marcar como estratégico">
                                <i ng-class="{'icon-star': e.star, 'icon-star-empty': !e.star}"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="confirmarEliminar" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Eliminar Estructura</h3>
        </div>
        <div class="modal-body">
            <p>Está a un paso de eliminar la estructura: {{estructuraSeleccionada.nombre}}</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-info" data-dismiss="modal">Conservar el registro</a>
            <a href="#" class="btn btn-danger" data-dismiss="modal" ng-click="eliminar(true)">Eliminar</a>
        </div>
    </div>
</div>