<div style="background-image: url(/api/presentaciones.static/slide5.png); background-repeat: no-repeat;
width: 960px;
height: 720px;
position: relative;line-height: 1.5;  font-family: Calibri, Candara, Segoe, &quot;Segoe UI&quot;, Optima, Arial, sans-serif;color: rgb(0, 0, 0); font-size: 11pt">
<div style="font-size: 18pt;  font-family: Calibri, Candara, Segoe, &quot;Segoe UI&quot;, Optima, Arial, sans-serif; text-align: left; position: absolute; width: 100%; top: 0; left: 20px">
    {{titulo}}
</div>
<div style="font-size: 18pt;  font-family: Calibri, Candara, Segoe, &quot;Segoe UI&quot;, Optima, Arial, sans-serif; text-align: left; position: absolute; width: 100%; top: 60px; left: 68px">
    Descripción
</div>
<div style="font-size: 18pt;  font-family: Calibri, Candara, Segoe, &quot;Segoe UI&quot;, Optima, Arial, sans-serif; text-align: left; position: absolute; width: 100%; top: 378px; left: 68px">
    Presupuestaria
</div>
<table style="border-collapse: collapse; position: absolute; width: 826px; height: 216px; left: 68px; top: 120px; border: 1px solid rgb(0, 0, 0);">
    <tbody>
        <tr style="height: 30px">
            <td style="border: 1px solid #444;background-color:#77a2d0; font-weight: bold; width: 120px">
                DEPENDENCIA
            </td>
            <td style="border: 1px solid #444;">
                {{dependencia}}
            </td>
            <td style="border: 1px solid #444;background-color:#77a2d0; font-weight: bold; width: 120px">
                FUNCIONARIO
            </td>
            <td style="border: 1px solid #444;">
                {{funcionario}}
            </td>
        </tr>
        <tr>
            <td style="border: 1px solid #444;background-color:#77a2d0; font-weight: bold; width: 120px">
                BREVE DESCRIPCION
            </td>
            <td style="border: 1px solid #444;" colspan="3">
                {{breveDescripcion}}
            </td>
        </tr>
        <tr style="height: 30px">
            <td style="border: 1px solid #444;background-color:#77a2d0; font-weight: bold; width: 120px">
                CONTRATACION
            </td>
            <td style="border: 1px solid #444;">
                {{contratacion}}
            </td>
            <td style="border: 1px solid #444;background-color:#77a2d0; font-weight: bold; width: 120px">
                PROYECTO PRE EXISTENTE
            </td>
            <td style="border: 1px solid #444;">
                {{proyectoPreExistente}}
            </td>
        </tr>
        <tr style="height: 30px">
            <td style="border: 1px solid #444;background-color:#77a2d0; font-weight: bold; width: 120px">
                DIRECCION
            </td>
            <td style="border: 1px solid #444;">
                {{direccion}}
            </td>
            <td style="border: 1px solid #444;background-color:#77a2d0; font-weight: bold; width: 120px">
                COMUNA
            </td>
            <td style="border: 1px solid #444;">
                {{comuna}}
            </td>
        </tr>
        <tr>
            <td style="border: 1px solid #444;background-color:#77a2d0; font-weight: bold; width: 120px">
                FECHA DE INICIO
            </td>
            <td style="border: 1px solid #444;">
                {{fechaInicio}}
            </td>
            <td style="border: 1px solid #444;background-color:#77a2d0; font-weight: bold; width: 120px">
                FECHA DE FIN
            </td>
            <td style="border: 1px solid #444;">
                {{fechaFin}}
            </td>
        </tr>
    </tbody>
</table>
<table style="border-collapse: collapse; position: absolute; width: 826px; height: 137px; left: 68px; top: 419px; border: 1px solid rgb(0, 0, 0);;line-height: 1.5;  font-family: Calibri, Candara, Segoe, &quot;Segoe UI&quot;, Optima, Arial, sans-serif;color: rgb(0, 0, 0); font-size: 11pt">
    <tbody>
        <tr>
            <td style="border: 1px solid #444;background-color:#77a2d0; font-weight: bold; width: 120px">
                PRESUPUESTO TOTAL
            </td>
            <td style="border: 1px solid #444;" colspan="4">
                {{presupuestoTotal}}
            </td>
            <td style="border: 1px solid #444;background-color:#77a2d0; font-weight: bold; width: 120px" colspan="2">
                PRESUPUESTO SOLICITADO 2014
            </td>
            <td style="border: 1px solid #444;" colspan="3">
                {{presupuestoSolicitado2014}}
            </td>
        </tr>
        <tr>
            <td style="border: 1px solid #444;background-color:#77a2d0; font-weight: bold; width: 120px" rowspan="2">
                Jurisdicción
            </td>
            <td style="border: 1px solid #444;background-color:#77a2d0; font-weight: bold; width: 120px">
                OGESE
            </td>
            <td style="border: 1px solid #444;background-color:#77a2d0; font-weight: bold; width: 120px">
                Actividad
            </td>
            <td style="border: 1px solid #444;background-color:#77a2d0; font-weight: bold; width: 120px">
                Unidad Ejecutora
            </td>
            <td style="border: 1px solid #444;background-color:#77a2d0; font-weight: bold; width: 120px">
                Programa
            </td>
            <td style="border: 1px solid #444;background-color:#77a2d0; font-weight: bold; width: 120px">
                Subprograma
            </td>
            <td style="border: 1px solid #444;background-color:#77a2d0; font-weight: bold; width: 120px">
                Proyecto
            </td>
            <td style="border: 1px solid #444;background-color:#77a2d0; font-weight: bold; width: 120px">
                Actividad
            </td>
            <td style="border: 1px solid #444;background-color:#77a2d0; font-weight: bold; width: 120px">
                Obra
            </td>
            <td style="border: 1px solid #444;background-color:#77a2d0; font-weight: bold; width: 120px">
                FF
            </td>
        </tr>
        <tr>
            <td style="border: 1px solid #444">
                {{jurisdiccion}}
            </td>
            <td style="border: 1px solid #444;">
                {{ogese}}
            </td>
            <td style="border: 1px solid #444">
                {{unidadEjecutora}}
            </td>
            <td style="border: 1px solid #444;">
                {{programa}}
            </td>
            <td style="border: 1px solid #444;">
                {{subprograma}}
            </td>
            <td style="border: 1px solid #444;">
                {{proyecto}}
            </td>
            <td style="border: 1px solid #444;">
                {{actividad}}
            </td>
            <td style="border: 1px solid #444;">
                {{obra}}
            </td>
            <td style="border: 1px solid #444;">
                {{fuenteDeFinanciamiento}}
            </td>
        </tr>
    </tbody>
</table>
</div>