<div class="modal-header" style="padding-bottom: 10px;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Agregar comentario</h3>
    </div>
    <div class="modal-body">
        <span style="display: inline-block"> Cuando:<br /> 
            <input class="span2" type="text" date placeholder="Fecha" ng-model="data.cuando" />
        </span>
        <span style="display: inline-block;">Descripción:
            <textarea style="height:150px; width:530px" type="text"
            ng-model="data.descripcion" placeholder="Descripción del comentario de Presupuesto" />
        </span>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancelar</a>
        <a href="#" class="btn btn-info" data-dismiss="modal" ng-click="agregarComenPresu(true, data)">Agregar comentario</a>
    </div>