<div class="modal-header" style="padding-bottom: 10px;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Agregar Eje</h3>
    </div>
    <div class="modal-body">
        <span style="display: inline-block"> Nombre:<br /> 
            <input class="span5" type="text" placeholder="Eje" ng-model="data.nombre" />
        </span>
        <span style="display: inline-block"> Numero:<br /> 
            <input class="span2" type="text" ng-disabled="true" placeholder="Numero" ng-model="data.numero" />
        </span>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancelar</a>
        <a href="#" class="btn btn-info" data-dismiss="modal" ng-click="agregarEje(true, data)">Agregar Eje</a>
    </div>
</div>