<div>
    <div class="btn-group pull-right" style="margin-right: 7px">
        <a class="btn btn-link" href="/planificacion20162019/compromisos" style="margin-right: 20px;">
            <i class="icon-list"></i>&nbsp;Compromisos Consolidados</a>
        <a class="btn btn-link" href="/planificacion20162019/comentariosHRL" style="margin-right: 20px;">
            <i class="icon-comment"></i>&nbsp;HRL Consolidados</a>
        <a class="btn btn-link" href="/planificacion20162019/comentariosDGPLE">
            <i class="icon-comment"></i>&nbsp;DGPLE Consolidados</a>
        <!--<a class="btn btn-link" href="/planificacion20162019/reporte">
            <i class="icon-list-alt"></i>&nbsp;Reporte</a>-->
    </div>
</div>