<div class="container-fluid">
    <div class="row-fluid">
        <div class="card span3">
            <h3 class="card-heading simple">Filtros</h3>
            <div class="card-body">
                <!-- Panel izquierdo -->
                <div class="control-group" style="display: block; margin-top:15px">
                    <div class="controls">
                        <input placeholder="Buscar por..." type="text" class="input-block-level search-query"
                        ng-model="filtro2.nombre" />
                    </div>
                </div>
                <div class="control-group">
                    <span style="margin-left: 0px; margin-top: 10px;">Evento:</span>
                    <select class="input-block-level" ui-select2 type="text" ng-model="filtro.evento">
                        <option value="">Todos</option>
                        <option ng-repeat="e in eventos" value="{{e._id}}">{{e.nombre}}</option>
                    </select>
                </div>
                <div class="control-group">
                    <span style="margin-left: 0px; margin-top: 10px;">Bloque origen:</span>
                    <select class="input-block-level" ui-select2 type="text" ng-model="filtro.bloque">
                        <option value="">Todos</option>
                        <option ng-repeat="b in bloques" value="{{b._id}}">{{b.nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="card-actions">
                <div class="btn-group pull-right">
                    <a class="btn btn-primary" ng-click="filtrar()"><i class="icon-search icon-white"></i> Buscar</a>
                </div>
            </div>
        </div>
        <div class="card span9">
            <div class="card-actions pull-right" style="margin: 0; padding: 0">
                <a class="btn btn-link no-print" ng-click="nuevoCuestionario()"><i class="icon-plus"></i></a>
            </div>
            <h3 class="card-heading simple">Cuestionarios</h3>
            <div class="card-body">
                <div class="row-fluid" style="margin-bottom: 10px;" ng-repeat="c in cuestionarios | filter:filtro2">
                    <div class="span2" align="center">{{c.fecha_recepcion}}</div>
                    <div class="span8">{{c.nombre}}</div>
                    <div class="span2">
                        <a href="/preguntas/cuestionarios/{{c._id}}" class="btn btn-link"><i class="icon-zoom-in"></i> Ver detalle</a>
                    </div>
                </div>
                <div class="row-fluid" ng-show="!cuestionarios.length">No hay ningun cuestionario</div>
            </div>
        </div>
    </div>
</div>
