<!--Lista de participantes-->
<td>
   <i ng-click="switchStar(p.p)" ng-class="{'icon-star': p.p.star, 'icon-star-empty': !p.p.star}"></i>
   <button style="padding: 0;" ng-click="verContacto()" type="button" class="btn btn-link">{{$index}} - {{p.c.apellidos}}, {{p.c.nombre}}</button>
</td>
<td>{{co}}</td>
<td>{{p.nombre}}</td>
<td>{{p.nombre}}</td>
<td><button type="button" class="btn input-block-level">No</button></td>
<td><button type="button" class="btn input-block-level">No</button></td>
<td><button type="button" class="btn input-block-level">No</button></td>
<td><button type="button" class="btn input-block-level">No</button></td>
<td><button type="button" class="btn input-block-level">No</button></td>