<div class="card" style="margin-bottom: 10px;">
    <div class="card-actions pull-right" style="margin: 0px 20px 0  0 ; padding: 0">
        <div class="controls" style="min-width: 140px; display: inline-block; margin-bottom: 7px; margin-right: 10px">
            <select ui-select2="tipoBiciSelect2" style="width:100%" type="text" ng-model="filtro.tipo" placeholder="">
                <option value="">Todas</option>
                <option value="bici1">Bici 1</option>
                <option value="bici2">Bici 2</option>
                <option value="bici3">Bici 3</option>
            </select>
        </div>

        <div class="btn-group" ng-show="editando">
            <a ng-click="revertToOriginal();cancelarReprogramacion()"
            type="button" class="btn btn-link" ng-disabled="!huboReporogramacion()">
                <i class="icon-undo"></i>
            </a>
            <a ng-click="applyChanges();guardarReporogramacion()" 
            type="button" class="btn btn-link" ng-disabled="!huboReporogramacion()">
                <i class="icon-ok icon-white"></i>
            </a>
        </div>
    </div>
    <h3 class="card-heading simple">Calendario de Mejor en Bici</h3>
    <div style="margin-left: 20px; margin-right: 20px; margin-top: 16px" class="calendar"
    fullcalendar calendar-object="calendar" ng-model="calendar"></div>
    <div style="margin: 20px">
        <span style="background-color: {{biciResaltada && colorBici(biciResaltada)}}; width: 20px; height: 20px; display: inline-block">&nbsp;</span>
        <span>{{biciResaltada.nombre}}</span>&nbsp;
        <div class="pull-right">
            <img ng-repeat="pId in instanciaResaltada.participantes | keysArray:star" ng-init="p = instanciaResaltada.participantes[pId]" class="img-circle" ng-show="contactosPorId[pId].foto" ng-class="{'gray-border': p.star}"
            style="width: 25px; height: 25px" ng-src="/api/upload/{{contactosPorId[pId].foto}}"
            />
        </div>
    </div>
</div>