<div ng-controller="FuncionariosCtrl">
    <div class="container">
        <div class="row">
            <div class="well span3">
                <!-- Panel izquierdo -->
                <div class="control-group" style="display: block; margin-top:15px">
                    <div class="controls">
                        <input placeholder="Buscar por..." type="text" class="input-large search-query span3" ng-model="filtro.nombre"/>
                    </div>
                </div>
                <a class="btn no-print span2" style="margin-top: 10px;" href="/funcionarios/nuevo" ng-hide="!puedeModificar()"><i class="icon-plus"></i> Nuevo funcionario</a>
            </div>
            <div class="well span8">
                <div class="row-fluid" style="margin-bottom: 10px;"
                	ng-repeat="f in funcionarios | filter:filtro">
            		<div class="span4">
            			{{f.nombre}}
            		</div>
                    <div class="span6">
                		{{f.reparticion}}
            		</div>
            		<a href="/funcionarios/{{f._id}}" class="btn btn-link pull-right"><i class="icon-zoom-in"></i> Ver detalle</a>
            	</div>
            	<div class="row-fluid" ng-show="!funcionarios.length">
            		No hay ningún funcionario
            	</div>
            </div>
        </div>
    </div>
</div>