

<style type="text/css">
    .form-inline .control-group {
        display: inline-block;
	}
</style>

<div ng-controller="HomePreguntaCtrl" class="card span10 offset2">

<center>
<div class="btn-group" style="margin-top: 20px; margin-bottom: 20px; margin-left: 9px">
    <a class="btn btn-large pull-right span3" href="/preguntas/buscar"><center>Total de preguntas: {{preguntas.length}} </center></a>
    <a class="btn btn-large pull-right span3" href="/preguntas/cuestionarios"><center>Total de cuestionarios: {{cuestionarios.length}} </center></a>
    <a class="btn btn-large pull-right span3" href="/preguntas/eventos"><center>Total de eventos: {{eventos.length}} </center></a>
</div>
</center>

<div class="container-fluid">
    <br>
    <div class="well span9" style="margin-left: 10px; border-top-width: 2px;">
        <div class="row-fluid">
    		<div class="span5">
    			<h4 style="margin-bottom: 0px;"><b>Ejes Temáticos:</b></h4>
    		</div>
    	</div>
        <br/>
    	<div class="row-fluid" ng-repeat="e in ejes">
    		<div class="span6" style="margin-top: 5px;margin-bottom: 5px;"><h4 style="margin-top: 5px;margin-bottom: 0px;">{{e.nombre}}</h4></div>
            <div class="btn-group pull-right" style="margin-left: 9px;">
                <a class="btn btn-danger pull-right span2" href="/preguntas/buscar?estado={{estadoNoAprobada._id}}&eje_tematico={{e._id}}" title="No aprobadas" style="width: 140px;height: 39px;"><center><h4>{{e.noAprobada}}</h4></center></a>
                <a class="btn btn-warning pull-right span2" href="/preguntas/buscar?estado={{estadoIncompleta._id}}&eje_tematico={{e._id}}" title="Incompletas" style="width: 140px;height: 39px;"><center><h4>{{e.incompleta}}</h4></center></a>
                <a class="btn btn-success pull-right span2" href="/preguntas/buscar?estado={{estadoAprobada._id}}&eje_tematico={{e._id}}" title="Aprobadas" style="width: 140px;height: 39px;"><center><h4>{{e.aprobada}}</h4></center></a>
            </div>
            
        </div>
        <div class="row-fluid" style="margin-top: 10px;">
            <div class="span6"><h4 style="margin-top: 5px;margin-bottom: 0px;"><b>Totales:</b></h4></div>
            <div class="btn-group pull-right" style="margin-left: 9px;">
                <a class="btn btn-danger pull-right span2" href="/preguntas/buscar?estado={{estadoNoAprobada._id}}" title="No aprobadas" style="width: 140px;height: 39px;"><center><h4>{{totalNoAprobada}}</h4></center></a>
                <a class="btn btn-warning pull-right span2" href="/preguntas/buscar?estado={{estadoIncompleta._id}}" title="Incompletas" style="width: 140px;height: 39px;"><center><h4>{{totalIncompleta}}</h4></center></a>
                <a class="btn btn-success pull-right span2" href="/preguntas/buscar?estado={{estadoAprobada._id}}" title="Aprobadas" style="width: 140px;height: 39px;"><center><h4>{{totalAprobada}}</h4></center></a>
            </div>
        </div>
    </div>
</div>

</div>