<style>
    .table {
        border: 0;
    }
    .table th, .table td {
        padding: 8px;
        line-height: 20px;
        text-align: left;
        vertical-align: middle;
        border: 0;
    }
    .table th {
        background-color: #dddddd !important;
    }
</style>

<div ng-controller="DocumentosCtrl">
    <div class="card">
        <div class="card-actions pull-right no-print" style="margin-right: 20px; padding: 0">
            <input placeholder="Buscar por nombre..." type="text" class="span2" ng-model="filtro.nombre" style="margin-right: 0px;margin-left: 5px;margin-bottom: 25px;" />
            <div style="margin-left: 5px; display: inline-block;">
                <select class="span2" ui-select2 type="text" ng-model="filtro.aplicacion" style="width: 200px;">
                    <option value="">Todas las Aplicaciones</option>
                    <option ng-repeat="a in aplicaciones" value="{{a}}">{{a}}</option>
                </select>
            </div>
            <div style="margin-left: 5px; display: inline-block;">
                <select class="span2" ui-select2 type="text" ng-model="filtro.fuente" style="width: 200px;">
                    <option value="">Todas las fuentes</option>
                    <option ng-repeat="c in contactos" value="{{c._id}}">{{c.apellidos}} {{c.nombre}}</option>
                </select>
            </div>
            <div class="btn-group" style="margin-bottom: 22px" data-toggle="buttons-radio">
                <button class="btn" ng-class="(filtro.tipoFoto == 'antes') && 'active btn-info'" ng-click="filtro.tipoFoto = 'antes'">Antes</button>
                <button class="btn" ng-class="(filtro.tipoFoto == 'durante') && 'active btn-info'" ng-click="filtro.tipoFoto = 'durante'">Durante</button>
                <button class="btn" ng-class="(filtro.tipoFoto == 'despues') && 'active btn-info'" ng-click="filtro.tipoFoto = 'despues'">Despues</button>
                <button class="btn" ng-class="(filtro.tipoFoto == 'maqueta') && 'active btn-info'" ng-click="filtro.tipoFoto = 'maqueta'">Maqueta</button>
                <button class="btn" ng-class="(filtro.tipoFoto == 'render') && 'active btn-info'" ng-click="filtro.tipoFoto = 'render'">Render</button>
                <button class="btn" ng-class="(filtro.tipoFoto == 'dibujo') && 'active btn-info'" ng-click="filtro.tipoFoto = 'dibujo'">Dibujo</button>
                <button class="btn" ng-class="(filtro.tipoFoto == '') && 'active btn-info'" ng-click="filtro.tipoFoto = ''">Vacios</button>
            </div>
        </div>
        <h3 class="card-heading simple">Fotos</h3>
        <div class="card-body">
            <div ng-repeat="f in fotos | filter:filtro" style="display:inline-block;margin-right: 5px;margin-bottom: 0px;">
                <a href="#" ng-click="abrirModalImagen(f.fotoId, f.link)" data-toggle="modal" class="thumbnail" title="{{f.aplicacion}} - {{f.nombre}} ({{f.fecha}})">
                    <img src="/file/{{f.fotoId}}" width="96" height="96">
                </a>
            </div>
        </div>
    </div>
</div>


