<div class="modal-header" style="padding-bottom: 10px;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Agregar minuta de {{organigramaPorId(areaSeleccionada.jurisdiccion).nombreCompleto}}{{plan.nombreProyecto}}</h3>
    </div>
    <div class="modal-body">
        <span style="display: inline-block; margin-top: 15px;">
            <span style="display: inline-block"> Nombre:<br /> 
                <input class="span4" type="text" placeholder="Nombre de la minuta" ng-model="data.nombre" />
            </span>
            <span style="display: inline-block"> Fecha:<br /> 
                <input class="span2" type="text" date placeholder="Fecha" ng-model="data.fecha" />
            </span>
            <div class="control-group span3" style="margin-left: 0px; margin-bottom: 0px; margin-right: 0px; margin-bottom: 10px">
                <label style="margin-bottom: 1px;">Fuente:</label>
                <select class="input-block-level" ui-select2 type="text" ng-model="data.fuente" ng-options="i._id as i.apellidos + ' ' + i.nombre for i in contactos | orderBy:'apellidos'">
                    <option ng-disabled="true" value="">{{data.fuente.apellidos}} {{data.fuente.nombre}}</option>
                </select>
            </div>
            <button class="btn" data-placement="bottom" style="margin-top: 1px;margin-bottom: 10px;" ng-click="crearContacto()"><i class="icon-book"></i></button>
            <span style="display: inline-block"> Version:<br /> 
                <input class="span2" type="text" placeholder="Version del documento" ng-model="data.version" />
            </span>
            <span style="display: inline-block"> Tipo:<br /> 
                <input class="span1" type="text" placeholder="DOC, XLS, PPT, etc" ng-model="data.tipo" />
            </span>
            <span style="display: inline-block"> Autor:<br /> 
                <input class="span3" type="text" placeholder="Autor del documento" ng-model="data.autor" />
            </span>
            <span style="display: inline-block"> Tags:<br /> 
                <input class="span2" type="text" placeholder="Separados por coma" ng-model="data.tags" />
            </span>
            <span style="display: inline-block"> Descripción:<br /> 
                <textarea style="height:40px; width:530px" placeholder="Descripción del documento" type="text"
                ng-model="data.descripcion" />
            </span>
            <div style="width: 300px" fine-uploader destination="'/upload/'"
            placeholder="'Examinar'" uploaded="uploaded"></div>
        </span>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancelar</a>
        <a href="#" class="btn btn-info" data-dismiss="modal" ng-click="modalCargaMinutas(true)">Agregar minuta</a>
    </div>