

<style>
    body {
        background : none;
    }
    .navbar
    {
        display: none;
    }
    a:link {
    color: #3B3537;
    }
    
    /* visited link */
    a:visited {
        color: #3B3537;
    }
    
    /* mouse over link */
    a:hover {
        color: #3B3537;
    }
    
    /* selected link */
    a:active {
        color: #3B3537;
    }
    
    #Layer1 {
    	position:absolute;
    	width:200px;
    	height:115px;
    	z-index:1;
    }
    #Layer2 {
    	position:absolute;
    	width:200px;
    	height:115px;
    	z-index:1;
    }
    .borde_redondeado_asimetrico_1001 {
        -moz-border-radius-topleft:10px;
        -moz-border-radius-topright:0px;
        -moz-border-radius-bottomleft:0px;
        -moz-border-radius-bottomright:10px;
        
        -webkit-border-top-left-radius:10px;
        -webkit-border-top-right-radius:0px;
        -webkit-border-bottom-left-radius:0px;
        -webkit-border-bottom-right-radius:10px;
    
        /* Otros estilos */ 
        border:0px;
        /*background:#eee;*/
        width:100%;
        padding:5px;
    }
</style>
<link href="/views/rdp/global.css" rel="stylesheet" type="text/css">

<div ng-controller="POARDPJurisdiccionCtrl">
    <table width="100%" height="100%" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
    <tbody><tr>
    		<td height="66" width="230"> 
                <img src="/views/rdp/empty.gif" height="66" width="50" style="height: 50px;width: 100px;"><a href="/poa/rdp"><img src="/views/rdp/logo_BA.png" alt="" height="66" style="border:none;width: 100px;"></a>
            </td>
            <td style="vertical-align:middle;">
            <span style="font-family: Tahoma; font-weight: 600; font-size: 22px;">PLAN ESTRATÉGICO 2014/15</span> 
                </td>
      </tr>
    
      <tr>
    		<td colspan="2" bgcolor="#FFFFFF" height="1"> </td>
      </tr>
    	<tr>
    		<td colspan="2" bgcolor="#ffffff" align="center" valign="middle">
    		
    		<div id="contenedorPrincipal" class="contenedorPrimario">
    
    		<table width="90%" border="0" cellspacing="0" cellpadding="0">
    		<tbody><tr>
    			<!-- inicio panel  -->
                
    				<td style="padding-top:45px;">
                    <div id="titulo" class="borde_redondeado_asimetrico_1001" style="background-color: #BFBFBF">
    					<table width="100%" border="0" cellspacing="2" cellpadding="14" style="table-layout:fixed; ">
    					  <tbody><tr class="menuContent" onmouseout="" onmouseover="" onclick="">
                            <td>
    							<center><span style="font-family: Tahoma; font-weight: bold; font-size: 24px">{{jurisdiccion.nombre}}</span></center>
                            </td>
    					  </tr>
    					</tbody></table>
    				</div>
                    </td>
    			<!-- fin panel  -->
    		</tr>
    		</tbody></table>
    
            <table width="95%" border="0" cellspacing="0" cellpadding="0" style="padding-top:50px;padding-bottom: 20px;">
    		    <tbody><tr>
    				    <td height="30" style="padding-top: 35px; padding-bottom: 15px;"><center><div style="font-family: Tahoma; font-weight: bold; font-size: 24px">MISIONES</div></center></td>
    		    </tr>
    	    </tbody></table>
            
            <table width="90%" border="0" cellspacing="0" cellpadding="0">
    		  <tbody><tr>
    				<!-- inicio panel  -->
    				<td>
                     
                         <div ng-repeat="i in impactos" class="borde_redondeado_asimetrico_1001" style="background-color: #FDEBB5;margin-bottom: 15px;">
    					    <table width="100%" border="0" cellspacing="2" cellpadding="10" style="table-layout: fixed; text-decoration: none;" onmouseover="this.style.textDecoration=&#39;underline&#39;" onmouseout="this.style.textDecoration=&#39;none&#39;" onclick="">
    				            <tbody><tr><td>
    							    <a href="/poa/rdp/impacto/{{i._id}}"><span style="font-family: Tahoma; font-size: 16px; font-weight: 600;">{{i.nombre}}</span></a>
                                </td>
    					    </tr>
                         
    					    </tbody></table>
                         </div>
                
    				</td>
    				<!-- fin panel  -->
    			  </tr>
    		</tbody></table>
    
    		 </div>
    		</td>
    	</tr>
        </tbody></table>
            <!-- Pie de Pagina -->
        <footer id="footer" style="position: absolute; bottom: 0px; right: 0px; left: 0px; margin-bottom: 0px;">
            <table style=" width:100%; height: 50px; vertical-align: middle;"><tbody>
        <tr>
    	    <td colspan="2" bgcolor="#FFFFFF" height="20">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color: #FFFFFF">
                <tbody><tr>    
                <td style="width:20px;"><img src="/views/rdp/borde_tab_amarillo_izq.png" height="20" border="none" style="height: 20px;"></td>
                <td bgcolor="#Fed317" nowrap="nowrap" align="center" style="vertical-align: middle"> <span style="font-family: Tahoma; font-weight: 600; font-size: 11px;"> DG Planificación Estratégica</span></td>
                <td style="width:20px;"><img src="/views/rdp/borde_tab_amarillo_der.png" height="20" border="none" style="height: 20px;"></td>
                <td style="width:40%;">&nbsp;</td>
                <td style="width:20px;"><img src="/views/rdp/borde_tab_amarillo_izq.png" height="20" border="none" style="height: 20px;"></td>
                <td bgcolor="#Fed317" nowrap="nowrap" align="center" style="vertical-align: middle"> <span style="font-family: Tahoma; font-weight: 600; font-size: 11px;"> Jefatura de Gabinete de Ministros</span></td>
                <td style="width:20px;"><img src="/views/rdp/borde_tab_amarillo_der.png" height="20" border="none" style="height: 20px;"></td>
                </tr>
            </tbody></table>
            </td>
      	</tr>
        <tr>
    	    <td colspan="2" bgcolor="#000000" height="1" style="padding-top: 0px; padding-bottom: 0px;">        </td>
      	</tr>
    	<tr>
    	    <td height="33" style="padding-right:10px; vertical-align:middle; background-color: #FFD504;"> <img src="/views/rdp/LOGO-BuenosAiresCiudad.jpg" alt="" height="33" style="width: 137px;"></td>
            <td height="33" align="right" style="padding-right:10px; vertical-align:middle; background-color: #FFD504;"> <span style="font-family: MS Sans Serif; font-weight: bolder; font-size: 16px">EN TODO ESTÁS VOS</span></td>
        </tr>
    </tbody></table>
    </footer>
</div>