<div ng-controller="CurriculumBADetalleCtrl" class="card" >
    <a ng-show="editando" ng-click="guardar()" href="/curriculumBA" class="btn btn-link no-underline pull-right" style="margin-right: 20px;"><i class="icon-ok"></i> Guardar</a>
    <a ng-show="!editando" ng-click="editar()"  class="btn btn-link pull-right no-underline" style="margin-right: 20px; margin-top:0%;margin-bottom:0%;" ng-if=hasPermission('rhResumeTool.editar')><i class="icon-edit icon-white"></i> Editar</a>
    <a ng-show="editando" ng-click="eliminar(false)" class="btn btn-link pull-right no-underline" style="margin-right: 20px; margin-top:0%;margin-bottom:0%;" ng-if=hasPermission('rhResumeTool.editar')><i class="icon-trash icon white"></i> Eliminar</a>
    <a href="/curriculumBA/imprimir/{{cv._id}}" class="btn btn-link pull-right no-underline" style="margin-right: 20px; margin-top:0%;margin-bottom:0%;"><i class="icon-print icon white"></i> Imprimir</a>
    <h3 class="card-heading simple">Detalle de CV<span ng-show="cv.nombre">&nbsp de {{cv.nombre}} <span ng-show="cv.apellido">{{cv.apellido}}</span></span></h3>
    
    <div class="card-body " style="margin-top: 0px;margin-bottom: 10px;">
        <div class="card-body" style="padding-bottom: 0px;">
            <form class="form-horizontal" style="margin-bottom: 0px !important;" autocomplete="on">
            
<!-- Datos personales ------------------------------------------------------------------------------------------------------------------------------------------------------ -->            
                <div class="row">
                <h4 style="margin-bottom: 5px;margin-top: 0px; margin-left: 20px;">Datos personales</h4>
                <hr style=" margin-top: 0px;margin-bottom: 10px;border-top-width: 2px;">
                    <div class="span6">
                        <form class="form-horizontal" style="margin-bottom: 0px !important;">
                            <div class="control-group" style="margin-left: 10px;margin-bottom: 0px;">
                                <div class="control-group">
                                    <label class="control-label">Nombre:</label>
                                    <div class="controls">
                                        <input class="span3" ui-select2 type="text" ng-model="cv.nombre" placeholder="Nombre" required autofocus ng-disabled="!editando"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Fecha de Nacimiento:</label>
                                    <div class="controls">
                                        <input class="span3" type="text" date required ng-model="cv.fechaNacimiento" ng-disabled="!editando"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Teléfono fijo:</label>
                                    <div class="controls">
                                        <input class="span3" type="text" placeholder="Numero de telefono fijo" ng-model="cv.numeroTelefono" ng-disabled="!editando"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">E-mail:</label>
                                    <div class="controls">
                                        <input class="span3" type="email" placeholder="Correo electronico" required ng-model="cv.email" ng-disabled="!editando"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Estado Civil:</label>
                                    <div class="controls">
                                        <select type="text"  ng-model="cv.estadoCivil" class="span3" ng-disabled="!editando">
                                            <option value="">Estado...</option>
                                            <option value="Soltero/a">Soltero/a</option>
                                            <option value="Casado/a">Casado/a</option>
                                            <option value="Divorciado/a">Divorciado/a</option>
                                            <option value="Viudo/a">Viudo/a</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Ciudad:</label>
                                    <div class="controls">
                                        <input class="span3" type="text" placeholder="Ciudad" required ng-model="cv.ciudad" ng-disabled="!editando"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Provincia:</label>
                                    <div class="controls">
                                        <input class="span3" type="text" placeholder="Provincia" required ng-model="cv.provincia" ng-disabled="!editando"/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="span6">
                        <form class="form-horizontal" style="margin-bottom: 0px !important;">
                            <div class="control-group" style="margin-left: 10px;margin-bottom: 0px;">
                                <div class="control-group">
                                    <label class="control-label">Apellido:</label>
                                    <div class="controls">
                                        <input class="span3" type="text" placeholder="Apellido" required ng-model="cv.apellido" ng-disabled="!editando"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Tipo y nº Documento:</label>
                                    <div class="controls">
                                        <select type="text" ng-model="cv.tipo" class="span1" ng-disabled="!editando">
                                            <option value="">Tipo...</option>
                                            <option value="Pasaporte">Pasaporte</option>
                                            <option value="L.C.">L.C.</option>
                                            <option value="Cedula de Identidad">Cedula de Identidad</option>
                                            <option value="L.E.">L.E.</option>
                                            <option value="D.N.I.">D.N.I.</option>
                                        </select>
                                        <input class="span2" style="margin-left:6%;" type="text"  required ng-model="cv.documento" ng-disabled="!editando"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Telefono celular:</label>
                                    <div class="controls">
                                        <input class="span3" type="text" placeholder="Numero de telefono celular"  ng-model="cv.numeroCelular" ng-disabled="!editando"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Sexo:</label>
                                    <div class="controls" style="margin-top: 1%;">
                                        <form class="span3" style="margin-left:36%; vertical-align: middle;">
                                            <span style="vertical-align: middle;">Masculino</span>
                                            <input type="radio" name="sex" value="Masculino" ng-model="cv.sexo" class="span1" ng-disabled="!editando">
                                            <span style="vertical-align: middle;">Femenino</span>
                                            <input type="radio" name="sex" value="Femenino" ng-model="cv.sexo" class="span1" ng-disabled="!editando">
                                        </form> 
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Domicilio:</label>
                                    <div class="controls">
                                        <input class="span3" type="text" placeholder="Dirección" required ng-model="cv.domicilio" ng-disabled="!editando"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Nacionalidad:</label>
                                    <div class="controls">
                                        <input class="span3" type="text" placeholder="Nacionalidad" required ng-model="cv.nacionalidad" ng-disabled="!editando"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Código Postal:</label>
                                    <div class="controls">
                                        <input class="span3" type="text" placeholder="Codigo Postal" required ng-model="cv.codigoPostal" ng-disabled="!editando"/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div> 
                
<!-- Estudios ------------------------------------------------------------------------------------------------------------------------------------------------------ -->            
            <div class="row">
                <h4 style="margin-bottom: 5px;margin-top: 0px; margin-left: 20px;">Estudios</h4>
                <hr style=" margin-top: 0px;margin-bottom: 10px;border-top-width: 2px;">
                
                <div class="span2">
                    <form class="form-horizontal" style="margin-bottom: 0px !important;">
                        <div class="control-group" style="margin-left: 0px;margin-bottom: 0px;">
                            <div class="control-group">
                                <div>
                                <h4>Nivel Profesional:</h4>
                                    <select type="text" ui-select2  class="span2" ng-model="estudios.nivelProfesional" ng-disabled="!editando">
                                        <option value="">No especifica</option>
                                        <option value="Secundario">Secundario</option>
                                        <option value="Terciario">Terciario</option>
                                        <option value="Universitario">Universitario</option>
                                        <option value="Postgrado">Postgrado</option>
                                        <option value="Maestria">Maestría</option>
                                        <option value="Doctorado">Doctorado</option>
                                        <option value="Otro">Otro (especificar)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="span2" ng-show="estudios.nivelProfesional=='Otro'">
                    <form class="form-horizontal" style="margin-bottom: 0px !important;">
                        <div class="control-group" style="margin-left: 0px;margin-bottom: 0px;">
                            <div class="control-group">
                                <div>
                                <h4>Especifique otro</h4>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <input class="span12 " type="text" placeholder="Otro nivel profesional" required ng-model="estudios.otroNivelProfesional" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="span2" ng-show="estudios.nivelProfesional" style="margin-left: 5px;">
                    <form class="form-horizontal" style="margin-bottom: 0px !important;">
                        <div class="control-group" style="margin-left: 0px;margin-bottom: 0px;">
                            <div class="control-group">
                                <div>
                                <h4>Título</h4>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <input class="span12 " type="text" placeholder="Titulo" required ng-model="estudios.titulo" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="span2" ng-show="estudios.nivelProfesional" style="margin-left: 5px;width: 130px;">
                    <form class="form-horizontal" style="margin-bottom: 0px !important;">
                        <div class="control-group" style="margin-left: 0px;margin-bottom: 0px;">
                            <div class="control-group">
                                <div>
                                <h4>Pais</h4>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <input class="span12 " type="text" placeholder="Pais" required ng-model="estudios.pais" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="span2" ng-show="estudios.nivelProfesional" style="margin-left: 5px;width: 130px;">
                    <form class="form-horizontal" style="margin-bottom: 0px !important;">
                        <div class="control-group" style="margin-left: 0px;margin-bottom: 0px;">
                            <div class="control-group">
                                <div>
                                <h4>Estado</h4>
                                    <select class="span2" ui-select2  type="text" ng-model="estudios.estadoNivelProfesional" style="width: 130px;" >
                                        <option value="">No especifica</option>
                                        <option value="En curso">En curso</option>
                                        <option value="Graduado">Graduado</option>
                                        <option value="Abandonado">Abandonado</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="span2" ng-show="estudios.nivelProfesional" style="margin-left: 5px;width: 130px;">
                    <form class="form-horizontal" style="margin-bottom: 0px !important;">
                        <div class="control-group" style="margin-left: 0px;margin-bottom: 0px;">
                            <div class="control-group">
                                <div>
                                    <h4>Fecha de Inicio</h4>
                                    <input type="text" style="width:86%;" date ng-model="estudios.inicio" placeholder="Desde"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="span2" ng-show="estudios.nivelProfesional" style="margin-left: 5px;width: 130px;">
                    <form class="form-horizontal" style="margin-bottom: 0px !important;">
                        <div class="control-group" style="margin-left: 0px;margin-bottom: 0px;">
                            <div class="control-group">
                                <div >
                                <h4>Fecha de Fin</h4>
                                     <input type="text" style="width:86%;" date  ng-model="estudios.fin" placeholder="Hasta" ng-show="estudios.fin!='Al presente'"/>
                                     <input type="checkbox" ng-model="estudios.fin" ng-true-value="Al presente" ng-false-value="''"> Al presente
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="span3" ng-show="estudios.nivelProfesional" style="margin-left: 5px;width: 180px;">
                    <form class="form-horizontal" style="margin-bottom: 0px !important;">
                        <div class="control-group" style="margin-left: 0px;margin-bottom: 0px;">
                            <div class="control-group">
                                <div>
                                <h4>Institución:</h4>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <input class="span10 " type="text" placeholder="Nombre de la institucion" required ng-model="estudios.nombreInstituto" style="width: 140px;" />
                                            <button class="btn span1 pull-right"  style="margin-left: 0%;" ng-click="agregarEstudios(estudios)" ng-disabled="!estudios.nombreInstituto || !estudios.estadoNivelProfesional"><i class="icon-ok"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row" style="margin-left:1%;">
                <div class="span12">
                    <div ng-repeat="t in cv.estudios">
                        <input ng-hide="t.otroNivelProfesional" type="text" class="span2" value ="{{t.nivelProfesional}}" ng-disabled="true"/>
                        <input ng-show="t.otroNivelProfesional" type="text" class="span2" value ="{{t.otroNivelProfesional}}" ng-disabled="true"/>
                        <input type="text" class="span2" value ="{{t.titulo}}" ng-disabled="true"/>
                        <input type="text" class="span1" value ="{{t.pais}}" ng-disabled="true"/>
                        <input type="text" class="span1" value ="{{t.estadoNivelProfesional}}" ng-disabled="true"/>
                        <input type="text" class="span1" value ="{{t.inicio}}" ng-disabled="true" style="width: 75px;"/>
                        <input type="text" class="span1" value ="{{t.fin}}" ng-disabled="true" style="width: 75px;"/>
                        <input type="text" class="span2" value ="{{t.nombreInstituto}}" ng-disabled="true"/>
                        <a href="#" ng-click="eliminarIdioma(t, cv.estudios)" class="btn btn-link" style="margin-bottom: 1%;" ng-hide="!editando"><i class="icon-trash" ></i></a>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="span12" style="margin-left: 41px;">
                    <form class="form-horizontal" style="margin-bottom: 0px !important;">
                        <div class="control-group" style="margin-left: 0px;margin-bottom: 0px;">
                            <div class="control-group">
                                <h4>Idiomas</h4>
                                <div class="row-fluid" style="margin-bottom:1%;">
                                    <select class="span4" ui-select2 type="text" ng-model="valorIdioma.idioma" ng-disabled="!editando">
                                        <option value=""></option>
                                        <option value="Inglés">Inglés</option>
                                        <option value="Portugués">Portugués</option>
                                        <option value="Francés">Francés</option>
                                        <option value="Italiano">Italiano</option>
                                        <option value="Alemán">Alemán</option>
                                        <option value="Otros">Otros</option>
                                    </select>
                                    <div class="btn-group span6" data-toggle="buttons-radio" style="margin-left:2%;">
                                        <button ng-disabled="!valorIdioma" type="button" class="btn" style="padding-left: 26px; padding-right: 26px;" ng-click="valorIdioma.nivelAprendizaje='Basico'"  ng-class="{'btn-info active': valorIdioma.nivelAprendizaje=='Basico'}">Básico</button>
                                        <button ng-disabled="!valorIdioma" type="button" class="btn" style="padding-left: 26px; padding-right: 26px;" ng-click="valorIdioma.nivelAprendizaje='Intermedio'"  ng-class="{'btn-info active':valorIdioma.nivelAprendizaje=='Intermedio'}">Intermedio</button>
                                        <button ng-disabled="!valorIdioma" type="button" class="btn" style="padding-left: 26px; padding-right: 26px;" ng-click="valorIdioma.nivelAprendizaje='Avanzado'"  ng-class="{'btn-info active': valorIdioma.nivelAprendizaje=='Avanzado'}">Avanzado</button>
                                        <button ng-disabled="!valorIdioma || !valorIdioma.nivelAprendizaje" class="btn" style= "margin-left: 5px" ng-click="agregarIdioma(valorIdioma)"><i class="icon-ok"></i></button>
                                    </div>
                                </div>
                                <div class="row-fluid" ng-show="cv.idiomas">
                                    <div class="span6">
                                        <div ng-repeat="t in cv.idiomas" class="span12" style="margin-top:1%;margin-left:5%;">
                                            <div class="span6"><input type="text" class="span12" ng-disabled="true" value="{{t.idioma}}"/></div>
                                            <div class="span2"><button ng-disabled="true" style="width:100%;" type="button" class="btn btn-primary " ng-class="{'btn-info active'}"> {{t.nivelAprendizaje}}</button></div>
                                            <div class="span1" ng-hide="!editando"><a href="#" ng-click="eliminarIdioma(t, cv.idiomas)" class="btn btn-link" ><i class="icon-trash"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
            <div class="row">
                <div class="span12" style="margin-left: 41px;">
                    <form class="form-horizontal" style="margin-bottom: 0px !important;">
                        <div class="control-group" style="margin-left: 0px;margin-bottom: 0px;">
                            <div class="control-group">
                                <h4>Informática</h4>
                                <div class="row-fluid" style="margin-bottom:1%;">
                                    <select class="span4" ui-select2 type="text" ng-model="valorSistemas.sistema" ng-disabled="!editando">
                                        <option value=""></option>
                                        <option value="Base de Datos">Base de Datos</option>
                                        <option value="Herramientas Graficas">Herramientas Gráficas</option>
                                        <option value="Office">Office</option>
                                        <option value="Programación">Programación</option>
                                        <option value="Software de Gestión">Software de Gestión</option>
                                        <option value="Otro">Otro (Completar) </option>
                                    </select>
                                    <div class="span2" ng-show="valorSistemas.sistema=='Otro'" style="margin-right:1%; margin-left:1%;">
                                        <input type="text" placeholder="Especifique otro" style="width:100%;" ng-model="valorSistemas.otroSistema"/>
                                    </div>
                                    <div class="btn-group span6" data-toggle="buttons-radio" style="margin-left:2%;">
                                        <button ng-disabled="!valorSistemas" type="button" class="btn" style="padding-left: 26px; padding-right: 26px;" ng-click="valorSistemas.nivelAprendizaje='Basico'"  ng-class="{'btn-info active': valorSistemas.nivelAprendizaje=='Basico'}">Básico</button>
                                        <button ng-disabled="!valorSistemas" type="button" class="btn" style="padding-left: 26px; padding-right: 26px;" ng-click="valorSistemas.nivelAprendizaje='Intermedio'"  ng-class="{'btn-info active':valorSistemas.nivelAprendizaje=='Intermedio'}">Intermedio</button>
                                        <button ng-disabled="!valorSistemas" type="button" class="btn" style="padding-left: 26px; padding-right: 26px;" ng-click="valorSistemas.nivelAprendizaje='Avanzado'"  ng-class="{'btn-info active': valorSistemas.nivelAprendizaje=='Avanzado'}">Avanzado</button>
                                        <button ng-disabled="!valorSistemas || !valorSistemas.nivelAprendizaje" class="btn" style= "margin-left: 5px" ng-click="agregarSistema(valorSistemas)"><i class="icon-ok"></i></button>
                                    </div>
                                </div>
                                <div class="row-fluid" ng-show="cv.sistemas">
                                    <div class="span6">
                                        <div ng-repeat="t in cv.sistemas" class="span12" style="margin-top:1%;margin-left:5%;">
                                            <div ng-show="t.otroSistema" class="span6" style="margin-left:2.5%;"><input type="text" class="span12" ng-disabled="true" value="{{t.otroSistema}}" /></div>
                                            <div ng-hide="t.otroSistema" class="span6"><input type="text" class="span12" ng-disabled="true" value="{{t.sistema}}" /></div>
                                            <div class="span2"><button ng-disabled="true" style="width:100%;" type="button" class="btn btn-primary " ng-class="{'btn-info active'}"> {{t.nivelAprendizaje}}</button></div>
                                            <div class="span1" ng-hide="!editando"><a href="#" ng-click="eliminarIdioma(t, cv.sistemas)" class="btn btn-link" ><i class="icon-trash"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--
            <div class="row">
                <div class="span12">
                    <form class="form-horizontal" style="margin-bottom: 0px !important;">
                        <div class="control-group" style="margin-left: 0px;margin-bottom: 0px;">
                            <div class="control-group">
                                <h4>Sistema:</h4>
                                <div class="row-fluid form-group" style="margin-bottom:1%;">
                                    <textarea class="span12 form-control" rows="6" type="text" placeholder="Completar con nombre de sistemas dominados" ng-model="cv.sistemasDominados" style="max-width: 100%; min-width: 30%;max-height:200px;"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>-->
                
        <!-- EXPERIENCIA ------------------------------------------------------------------------------------------------------------------------------------------------------ -->
        <!--Experiencias relacionadas al campo--> 
        <div class="row show-grid">
        <h4 style="margin-bottom: 5px;margin-top: 0px; margin-left: 20px;">Experiencias</h4>
            <hr style=" margin-top: 0px;margin-bottom: 1%;border-top-width: 2px;">
            <div class="span6">
                <form class="form-horizontal" style="margin-bottom: 0px !important;">
                    <div class="control-group" style="margin-left: 10px;margin-bottom: 0px;">
                        <div class="control-group">
                        <h4>Experiencias:</h4>
                            <div class="control-group" style="margin-bottom: 1%;">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div>
                                            <input type="text" style="width:33%;" date ng-model="valorExperiencia.desde" placeholder="Desde" ng-disabled="!editando"/>
                                            <input type="text" style="width:34%; " date ng-model="valorExperiencia.hasta" placeholder="Hasta" ng-disabled="valorExperiencia.hasta=='Al presente' || !editando" />
                                            <input type="checkbox" ng-model="valorExperiencia.hasta" ng-true-value="Al presente" ng-false-value="''" ng-disabled="!editando"> Al presente
                                            <button ng-disabled="!valorExperiencia || !valorExperiencia.experiencia || !valorExperiencia.empresa || !valorExperiencia.hasta || !valorExperiencia.pais" class="btn" style="margin-left: 0%; height:100%;" ng-click="agregarExperiencia(valorExperiencia)" title="Agregar Experiencia" ng-disabled="!editando"><i class="icon-ok"></i></button>
                                        </div>
                                        <input type="text" style="width:94%; margin-top:1%;" ng-model="valorExperiencia.empresa" placeholder="Empresa" ng-disabled="!editando"/>
                                        <input type="text" style="width:50%; margin-top:1%;" ng-model="valorExperiencia.puesto" placeholder="Título / Puesto" ng-disabled="!editando"/>
                                        <input type="text" style="width:40%; margin-top:1%;" ng-model="valorExperiencia.pais" placeholder="Pais" ng-disabled="!editando"/>
                                        <input type="text" style="width:60%; margin-top:1%;" ng-model="valorExperiencia.area" placeholder="Área / Rubro" ng-disabled="!editando"/>
                                        <input type="text" style="width:30%; margin-top:1%;" ng-model="valorExperiencia.personasACargo" placeholder="Personas a Cargo" ng-disabled="!editando"/>
                                        <textarea rows="3" style="width:94%; max-width:94%; margin-top:1%;" class=" form-control" placeholder="Descripción de tareas y responsabilidades" ng-model="valorExperiencia.experiencia" ng-disabled="!editando"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group" ng-repeat="t in cv.experiencias" style="margin-bottom: 1%;">
                            <hr>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div>
                                            <input type="text" ng-disabled="true" date  value ="{{t.desde}}" style="width: 45%;" title="Desde"/>
                                            <input type="text" ng-disabled="true" date  value ="{{t.hasta}}" style="width: 38%;" title="Hasta"/>
                                            <button href="#" class="btn" style="margin-left: 0%; height:100%;" ng-click="eliminarIdioma(t, cv.experiencias)" title="Borrar" ng-disabled="!editando"><i class="icon-trash"></i></button>
                                        </div>
                                        <input type="text" ng-disabled="true" value="{{t.empresa}}" style="width: 94%;margin-top:1%;" title="Empresa"/>
                                        <input type="text" ng-disabled="true" value="{{t.puesto}}" style="width: 52%;margin-top:1%;" title="Puesto"/>
                                        <input type="text" ng-disabled="true" value="{{t.pais}}" style="width:38%; margin-top:1%;" title="Pais"/>
                                        <input type="text" ng-disabled="true" value="{{t.area}}" style="width:60%; margin-top:1%;" title="Area / Rubro"/>
                                        <input type="text" ng-disabled="true" value="{{t.personasACargo}}" style="width:30%; margin-top:1%;" title="Personas a cargo"/>
                                        <textarea rows="3"  ng-disabled="true" class="span3 form-control" style="width:97%;margin-top:1%;" title="Experiencia">{{t.experiencia}}</textarea>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </form>  
            </div>
            <div class="span6">
                <form class="form-horizontal" style="margin-bottom: 0px !important;">
                    <div class="control-group" style="margin-left: 10px;margin-bottom: 0px;">
                        <div class="control-group">
                            <h4>Conocimientos Adicionales:</h4>
                            <div class="control-group" style="margin-bottom: 1%;">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <textarea rows="5" class="form-control" type="text" placeholder="Cursos, Voluntariados, Actividades Extracurriculares, Experiencias en el Exterior, etc" ng-model="cv.otrasExperiencias" style="margin-top:0.5%;width:100%; max-width:100%;" ng-disabled="!editando"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <h4>Informe/s sobre entrevista/s:</h4>
                            <div class="control-group" style="margin-bottom: 1%;">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <textarea rows="5" class="form-control" type="text" placeholder="Informes sobre entrevistas" ng-model="cv.infoEntrevistas" style="margin-top:0.5%;width:100%; max-width:100%;" ng-disabled="!editando"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>  
            </div>   
        </div>  
    
        <!-- REFERENCIAS -->
        <div class="row show-grid">
                <h4 style="margin-bottom: 5px;margin-top: 0px; margin-left: 20px;">Referencias</h4>
                <hr style=" margin-top: 0px;margin-bottom: 1%;border-top-width: 2px;" class="span11">
                <div class="row" style="margin-left:1%;">
                    <div class="span12" style="margin-left: 6.2%;">
                            <input class="span3 " type="text" placeholder="Nombre..." required ng-model="referencias.nombre" />
                            <input class="span3 " type="text" placeholder="Apellido..." required ng-model="referencias.apellido" />
                            <input class="span2 " type="text" placeholder="Telefono..." required ng-model="referencias.telefono" />
                            <input class="span3" type="email" placeholder="Correo electronico" ng-model="referencias.email"/>
                            <button ng-disabled="!referencias.nombre || !referencias.apellido || !referencias.telefono || !referencias.email" class="btn span1 pull-right" style="margin-left: 0%; height:100%;" ng-click="agregarReferencia(referencias)" title="Agregar Referente"><i class="icon-ok"></i></button>
                    </div>
                </div>
             <div class="row" style="margin-left:1%;">
                <div class="span12" style="margin-left: 6.2%;">
                    <div ng-repeat="t in cv.referencias">
                        <input type="text" class="span3" value ="{{t.nombre}}" ng-disabled="true"/>
                        <input type="text" class="span3" value ="{{t.apellido}}" ng-disabled="true"/>
                        <input type="text" class="span2" value ="{{t.telefono}}" ng-disabled="true"/>
                        <input type="text" class="span3" value ="{{t.email}}" ng-disabled="true"/>
                        <a href="#" ng-click="eliminarIdioma(t, cv.referencias)" class="btn btn-link span1 pull-right" style="margin-left: 0%; height:100%; padding-left:0px; padding-right:0px;"><i class="icon-trash"></i></a>
                    </div>
                </div>
            </div>
        </div>
                    
        <div class="row show-grid">
            <h4 style="margin-bottom: 5px;margin-top: 20px; margin-left: 20px;">Adjuntar CV</h4>
            <hr style=" margin-top: 0px;margin-bottom: 1%;border-top-width: 2px;">
            <div style="margin-left:50px; margin-top:20px;">
                <div ng-if="!cv.archivoId">No se ha cargardo currículum aún</div>
                <div ng-if="cv.archivoId">Currículum (<a href="/file/{{cv.archivoId}}" target="_blank">Descargar</a>)</div><br>
                <div style="width: 300px" ng-show="editando" fine-uploader destination="'/upload/'"  placeholder="'Examinar'" uploaded="uploaded" ></div>
            </div>
        </div>  
    </div>
        
    <!--Ventana para confirmar eliminar archivo-->
    <div id="confirmarEliminar" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Eliminar CV</h3>
        </div>
        <div class="modal-body">
            <p>Está a un paso de eliminar el CV</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-info" data-dismiss="modal">Conservar el CV</a>
            <a href="/curriculumBA" class="btn btn-danger" data-dismiss="modal" ng-click="eliminar(true)">Eliminar</a>
        </div>
    </div>
</div>



