<div class="card span12" style="padding-top: 10px; margin-top: 0px;">
  <h3 class="card-heading simple">
    Objetivos ministeriales</h3>
  <div class="card-body" style="padding: 0; margin-top: 0; border-bottom: 0">
    <ul class="nav nav-list">
      <li ng-repeat="o in tabCtrl.objsMinisteriales|filter:{idObjImpacto:tabCtrl.filtro.objImpacto._id} | orderBy:ordenNumerico">
        <a style="font-size: 18px" href="javascript:" ng-click="tabCtrl.filtro.objMinisterial = o">
        <strong class="pull-right" ng-if="o.codIdentificacion">{{o.codIdentificacion}}</strong> {{o.nombre}}</a>
      </li>
      <li ng-if="!(tabCtrl.objsMinisteriales|filter:{idObjImpacto:tabCtrl.filtro.objImpacto._id}).length" class="text-center" style="padding-top: 10px; padding-bottom: 10px;">
        <em>No hay ningún objetivo ministerial</em>
      </li>
    </ul>
  </div>
</div>
