<div class="modal-header" style="padding-bottom: 10px;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Agregar columna a datos duros</h3>
</div>
<div class="modal-body">
    <span style="display: inline-block"> Nombre de Columna:<br /> 
        <input class="span4" type="text" placeholder="Nombre..." ng-model="nombre" />
    </span>
</div>
<div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cancelar</a>
    <a href="#" class="btn btn-info" data-dismiss="modal" ng-click="agregarColumna(true, nombre)">Agregar</a>
</div>