<div class="card body" style="margin-top: 0px;padding-top: 0px;" ng-controller="BajoAutopistaNuevoCtrl">
    <div style="margin-bottom: 0px">
        <ul class="breadcrumb" style="margin-bottom: 0px;">
          <li><a href="/bajoautopista" style="color:#404040;">Bajo Autopista</a> <span class="divider">/</span></li>
          <li class="active">Nuevo</li>
        </ul>
    </div>
    <h2 style="margin-top: 15px; margin-left: 15px; margin-bottom: 0px;">Nuevo Bajo Autopista
        <a ng-click="guardar()" href="/bajoautopista" class="btn btn-link pull-right" style="margin-right: 20px;"><i class="icon-ok icon-white"></i></a>
    </h2>
    <hr style="margin-top: 8px;margin-bottom: 20px;border-top-width: 5px;border-bottom-width: 1px;">
    <div class="card-body" ng-init="miTotal = 0" style="margin-top: 0px;margin-bottom: 10px;">
        <div class="row" style="padding-bottom: 0px;">
            <form class="form-horizontal" style="margin-bottom: 0px !important;">
                <div class="control-group" style="margin-left: 50px;margin-bottom: 0px;">
                    <div class="control-group">
                        <label class="control-label">Comuna:</label>
                        <div class="controls">
                            <select class="span3" ui-select2 type="text" ng-model="bajoautopista.comuna" ng-options="i._id as i.nombre for i in comunas"></select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">ID Mapa:</label>
                        <div class="controls">
                            <input class="span3" type="text" placeholder="Sin ID Mapa" ng-model="bajoautopista.idMapa" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Predio:</label>
                        <div class="controls">
                            <input class="span3" type="text" placeholder="Sin Predio" ng-model="bajoautopista.predio" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Autopista:</label>
                        <div class="controls">
                            <select class="span4" ui-select2 type="text" ng-model="bajoautopista.calle" ng-options="i as i for i in autopistas"></select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Desde:</label>
                        <div class="controls">
                            <input class="span5" type="text" data-provide="typeahead" placeholder="Sin calle" ng-model="bajoautopista.entre1" id="calle2-typeahead" data-source={{calles}} />
                            <label class="checkbox" style="display: inline-block; padding-left: 0px; height: 15px; margin-bottom: 0px; margin-left: 0px;">
                                <input type="checkbox" ng-model="bajoautopista.interseccion" style="margin-left: 20px; margin-top: 8px;" class="ng-pristine ng-valid">
                            </label>
                            <label style="display: inline-block;">Intersección</label>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Hasta:</label>
                        <div class="controls">
                            <input class="span6" type="text" ng-disabled="bajoautopista.interseccion" data-provide="typeahead" placeholder="Sin calle" ng-model="bajoautopista.entre2" id="calle3-typeahead" data-source={{calles}} />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Dirección Exacta:</label>
                        <div class="controls">
                            <input class="span4" type="text" data-provide="typeahead" placeholder="Calle" ng-model="bajoautopista.calleExacta" id="calle4-typeahead" data-source={{calles}} />
                            <input class="span1" type="text" placeholder="Numero" ng-model="bajoautopista.numeroExacto" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Usuario:</label>
                        <div class="controls">
                            <input class="span6" type="text" placeholder="Sin Usuario" ng-model="bajoautopista.usuario" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Uso:</label>
                        <div class="controls">
                            <select class="span3" ui-select2 type="text" ng-model="bajoautopista.uso">
                                <option value="Estatal">Estatal</option>
                                <option value="Terceros">Terceros</option>
                                <option value="Privado">Privado</option>
                                <option value="Sin datos">Sin datos</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Destino:</label>
                        <div class="controls">
                            <select class="span3" ui-select2 type="text" ng-model="bajoautopista.destino">
                                <option value=""></option>
                                <option value="GCABA">GCABA</option>
                                <option value="Comuna">Comuna</option>
                                <option value="PFA">PFA</option>
                                <option value="Espacio Público">Espacio Público</option>
                                <option value="Particular">Particular</option>
                                <option value="ONG">ONG</option>
                                <option value="Programas IVC">Programas IVC</option>
                                <option value="Propiedad Privada">Propiedad Privada</option>
                                <option value="Vacante">Vacante</option>
                                <option value="Sin datos">Sin datos</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Instrumento:</label>
                        <div class="controls">
                            <select class="span3" ui-select2 type="text" ng-model="bajoautopista.instrumento">
                                <option value=""></option>
                                <option value="Concesión">Concesión</option>
                                <option value="Permiso de Uso Precario">Permiso de Uso Precario</option>
                                <option value="Tenencia Provisoria">Tenencia Provisoria</option>
                                <option value="Tenencia Precaria">Tenencia Precaria</option>
                                <option value="Otros">Otros</option>
                                <option value="Sin datos">Sin datos</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Ocupación:</label>
                        <div class="controls">
                            <select class="span3" ui-select2 type="text" ng-model="bajoautopista.ocupacion">
                                <option value="Ocupado">Ocupado</option>
                                <option value="Libre">Libre</option>
                                <option value="Sin datos">Sin datos</option>
                                <option value="No aplica">No aplica</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Status:</label>
                        <div class="controls">
                            <select class="span3" ui-select2 type="text" ng-model="bajoautopista.status">
                                <option value="En regla">En regla</option>
                                <option value="Vencido">Vencido</option>
                                <option value="Irregular">Irregular</option>
                                <option value="Intrusado">Intrusado</option>
                                <option value="En estudio">En estudio</option>
                                <option value="Sin datos">Sin datos</option>
                                <option value="No aplica">No aplica</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Fecha Inicio:</label>
                        <div class="controls">
                            <input class="span3" type="text" date ng-model="bajoautopista.fechaInicio" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Fecha Fin:</label>
                        <div class="controls">
                            <input class="span3 ng-pristine ng-valid" type="text" date="" ng-model="bajoautopista.fechaFin" style="display: inline-block;">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Canon:</label>
                        <div class="controls">
                            <select class="span3" ui-select2 type="text" ng-model="bajoautopista.canon">
                                <option value="Oneroso">Oneroso</option>
                                <option value="Oneroso c/obra">Oneroso c/obra</option>
                                <option value="Gratuito">Gratuito</option>
                                <option value="Gratuito c/obra">Gratuito c/obra</option>
                                <option value="Sin datos">Sin datos</option>
                                <option value="No aplica">No aplica</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Valor Mensual ($):</label>
                        <div class="controls">
                            <input class="span3" type="text" placeholder="Sin Valor Mensual" ng-model="bajoautopista.valorMensual" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Uso Específico:</label>
                        <div class="controls">
                            <input class="span6" type="text" placeholder="Sin Uso Actual" ng-model="bajoautopista.usoActual" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Plan de Acción:</label>
                        <div class="controls">
                            <input class="span6" type="text" placeholder="Sin Plan de Acción" ng-model="bajoautopista.planAccion" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Fecha Seguimiento:</label>
                        <div class="controls">
                            <input class="span3" type="text" date ng-model="bajoautopista.fecha" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Responsable:</label>
                        <div class="controls">
                            <select class="span6" ui-select2 type="text" ng-model="bajoautopista.responsable" ng-options="i._id as i.nombreCompleto for i in organigrama"></select>
                        </div>
                    </div>
                    <div class="control-group" style="margin-bottom: 0px;">
                        <label class="control-label">Sección / Manzana / Parcela:</label>
                        <div class="controls">
                            <input class="span1" type="text" placeholder="Sección" ng-model="dataParce.seccion" />
                            <input class="span1" type="text" placeholder="Manzana" ng-model="dataParce.manzana" />
                            <input class="span1" type="text" placeholder="Parcela" ng-model="dataParce.parcela" />
                            <label class="checkbox" style="display: inline-block; padding-left: 0px; height: 15px; margin-bottom: 0px;">
                                <input type="checkbox" ng-model="dataParce.parcial" style="margin-left: 10px; margin-top: 8px;" class="ng-pristine ng-valid">
                            </label>
                            <label style="display: inline-block; margin-left: 5px;">Parcial</label>
                            <button class="btn" style="margin-left: 15px" ng-click="agregarSMP(dataParce)"><i class="icon-plus"></i></button>
                        </div>
                    </div>
                    <div class="control-group" ng-repeat="s in bajoautopista.smp" style="margin-bottom: 0px;">
                        <div class="controls" ng-controller="ConsultarSMPCtrl">
                            <input class="span1" type="text" ng-model="s.seccion" />
                            <input class="span1" type="text" ng-model="s.manzana" />
                            <input class="span1" type="text" ng-model="s.parcela" />
                            <span style="margin-left: 20px; margin-right: 5px;">Superficie Usig:</span>
                            <input class="span2" type="text" ng-disabled="true" style="margin-right: 20px;" ng-show="dataUsig.info.info_alfanumerica.superficie_total" value="{{dataUsig.info.info_alfanumerica.superficie_total}}" />
                            <input class="span2" type="text" ng-disabled="true" style="margin-right: 20px;" ng-hide="dataUsig.info.info_alfanumerica.superficie_total" value="No hay datos" />
                            <label class="checkbox" style="display: inline-block; padding-left: 0px; height: 15px; margin-bottom: 0px;">
                                <input type="checkbox" ng-model="s.parcial" style="margin-left: 10px; margin-top: 8px;" class="ng-pristine ng-valid">
                            </label>
                            <label style="display: inline-block; margin-left: 5px;">Parcial</label>
                            <a href="#" style="margin-left: 10px" ng-click="eliminarListaElem(s, bajoautopista.smp)"><i class="icon-trash"></i></a>
                        </div>
                    </div>
            		<div class="control-group" style="margin-top: 20px;">
                        <label class="control-label">Superficie Total Usig:</label>
                        <div class="controls">
                            <input class="span3" type="text" placeholder="Sin Superficie Total Usig" ng-disabled="true" ng-model="superficieTotalUsig" />
                        </div>
                    </div>
                    <div class="control-group" style="margin-top: 20px;">
                        <label class="control-label">Superficie Total:</label>
                        <div class="controls">
                            <input class="span3" type="text" placeholder="Sin Superficie Total" ng-model="bajoautopista.superficieTotal" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Superficie Cubierta:</label>
                        <div class="controls">
                            <input class="span3" type="text" placeholder="Sin Superficie Cubierta" ng-model="bajoautopista.superficieCubierta" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">FOT:</label>
                        <div class="controls">
                            <input class="span3" type="text" placeholder="Sin FOT" ng-model="bajoautopista.fot" />
                        </div>
                    </div>
                    <div class="control-group" style="margin-bottom: 5px;">
                        <label class="control-label">Temas:</label>
                        <div class="controls">
                            <select ui-select2 class="span6" type="text" ng-model="dataTema" ng-options="i._id as i.nombre for i in temas | filter: mostrarTema">
                                <option ng-disabled="true" value=""></option>
                            </select>
                            <button class="btn" style="margin-bottom:10px; margin-left: 5px" ng-click="agregarTema(dataTema)"><i class="icon-plus"></i></button>
                        </div>
                    </div>
                    
                    <div class="control-group" ng-repeat="t in bajoautopista.temas" style="margin-bottom: 0px;">
                        <div class="controls">
                            <input class="span6" type="text" ng-disabled="true" value="{{temaPorId(t).nombre}}" />
                            <a href="#" style="margin-left: 10px" ng-click="eliminarListaElem(t, bajoautopista.temas)"><i class="icon-trash"></i></a>
                        </div>
                    </div>
                    <div class="span5" style="margin-left: 80px;margin-top: 20px;">
                        <h4>Documentos
                        <div class="card-actions pull-right" style="margin: 0; padding: 0">
                            <a class="btn btn-link" ng-click="agregarDocumentacion()"><i class="icon-plus"></i></a>
                        </div></h4>
                        <div ng-if="!bajoautopista.documentos.length">No se ha cargardo ningun documento aún</div>
                        <div ng-repeat="d in bajoautopista.documentos">
                            <a data-toggle="modal" ng-click="abrirModal('#documentosE_{{$index}}')" href="">{{d.nombre}}</a> (<a href="/file/{{d.archivoId}}" target="_blank">Descargar</a>)<br>
                        </div>
                        <br>
                        <h4>Observaciones
                        <div class="card-actions pull-right" style="margin: 0; padding: 0">
                            <a class="btn btn-link" ng-click="agregarComen()"><i class="icon-plus"></i></a>
                        </div></h4>
                        <div class="card-body">
                            <div ng-hide="bajoautopista.comentarios.length">No se ha cargardo ninguna observacion aún</div>
                            <div ng-repeat="o in reverse(bajoautopista.comentarios)"
                            style="clear:both; min-height: 40px; margin-top: 20px; margin-bottom: 20px" ng-show="bajoautopista.comentarios.length">
                                <div class="pull-right" style="display: inline-block; margin-right: 10px; margin-bottom: 10px">
                                    <button type="button" ng-click="eliminarElemento(bajoautopista.comentarios,o)" style="margin-left: 10px" class="btn btn-danger"><i class="icon-trash icon-white"></i> Eliminar</button>
                                </div>
                                <span style="display: inline-block"> Cuando:<br /> 
                                    <input class="span2" type="text" date ng-model="o.cuando"/>
                                </span>
                                <textarea style="height:100px; width:95%" type="text" ng-model="o.descripcion" />
                                <hr />
                            </div>
                        </div>
                    </div>
                    <div class="span5" style="margin-left: 80px;margin-top: 20px;">
                        <h4>Fotos Usig</h4>
                        <div ng-repeat="s in bajoautopista.smp" style="display: inline-block;">
                            <div ng-controller="ConsultarSMPCtrl" style="display: inline-block;">
                                <a data-toggle="modal" ng-show="dataUsig.info.info_alfanumerica.superficie_total"
                                 ng-click="abrirModalImagenUsig(s.seccion, s.manzana, s.parcela)" class="thumbnail" style="display:inline-block">
                                    <img src="http://fotos.usig.buenosaires.gob.ar//getFoto?smp={{s.seccion}}-{{s.manzana}}-{{s.parcela}}" width="128" height="96">
                                </a>
                            </div>
                        </div>
                        <h4>Fotos Cargadas</h4>
                        <div ng-hide="bajoautopista.fotos.length">No se ha cargardo ninguna foto aún</div>
                        <a ng-repeat="f in bajoautopista.fotos" data-toggle="modal" ng-click="abrirModalImagen(f)"
                        class="thumbnail" style="display:inline-block">
                            <img src="/file/{{f}}" width="128" height="96">
                        </a>
                        <div style="width: 300px" fine-uploader destination="'/upload/'"
                        placeholder="'Subir foto'" uploaded="uploaded"></div>
                        <div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>