<div class="container" ng-controller="POAConfiguracionCtrl">
  <div class="row">
    <div class="span12 card">
      <h3 class="card-heading simple">Configuración</h3>
      <div class="card-body" style="margin-bottom: 20px;">
          <div class="span5" style="margin-left: 0px;">
            <div style="font-size: 18px;padding-top: 4px;padding-bottom: 4px;margin-bottom: 30px;margin-left: 22px;">
                <span class="span2" style="width: 130px;">Etiquetas</span>
                <span class="pull-right input-append" style="margin-bottom: 0" >
                  <input type="text" ng-model="nuevo.nombre" placeholder="Agregar..." />
                  <a ng-click="crear()" ng-disabled="!nuevo.nombre" class="btn btn-default"><i class="icon icon-plus"></i></a>
                </span>
            </div>
            <hr style="margin-bottom: 10px;">
            <div ng-repeat="e in etiquetas | orderBy:'nombre'" class="span5">
              <span class="span4">{{e.nombre}}
              <a class="btn btn-link pull-right" href="#" title="Eliminar Etiqueta" ng-click="eliminar(e)"><i class="icon-trash"></i></a></span>
            </div>
            <div ng-if="!etiquetas.length" class="text-center">
              <em>No hay etiquetas definidas aún</em>
            </div>
          </div>
          <div class="span6" style="margin-left: 30px;">
            <div style="font-size: 18px;padding-top: 4px;padding-bottom: 4px;margin-bottom: 30px;margin-left: 22px;">
                <span class="span2">Notificaciones</span>
            </div>
            <hr style="margin-bottom: 10px;">
            <span class="pull-right input-append" style="margin-bottom: 10px" >
              <input class="span5" type="text" ng-model="noti.texto" placeholder="Agregar..." />
              <a ng-click="agregaNoti()" ng-disabled="!noti.texto" class="btn btn-default"><i class="icon icon-plus"></i></a>
            </span>
            <div ng-repeat="e in notificaciones | orderBy:'-fechaLarga'" class="span5">
              <span class="span5">{{e.fecha}}: {{e.texto}}
              <a class="btn btn-link pull-right" href="#" title="Eliminar Notificacion" ng-click="eliminarNoti(e)"><i class="icon-trash"></i></a></span>
              <hr>
            </div>
            <div ng-if="!notificaciones.length" class="text-center">
              <em>No hay notificaciones definidas aún</em>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
