<div class="card span12" style="padding-top: 10px; margin-top: 0px;">
  <h3 class="card-heading simple">
    <span class="pull-right input-append" ng-controller="POANuevoObjImpactoCtrl" style="margin-bottom: 0" ng-show="permisoImpacto()">
      <input type="text" ng-model="nuevo.nombre" placeholder="Agregar..." />
      <a ng-click="crear()" ng-disabled="!nuevo.nombre" class="btn btn-default"><i class="icon icon-plus"></i></a>
    </span>  
    Misión de la Jurisdicción</h3>
  <div class="card-body" style="padding: 0; margin-top: 0; border-bottom: 0">
    <ul class="nav nav-list">
      <li ng-repeat="o in tabCtrl.objsImpacto|filter:{idJurisdiccion:tabCtrl.filtro.jurisdiccion._id} | orderBy:ordenNumerico">
        <a style="font-size: 18px" href="javascript:" ng-click="tabCtrl.filtro.objImpacto = o"><strong class="pull-right" ng-if="o.codIdentificacion">{{o.codIdentificacion}}</strong>{{o.nombre}}</a>
      </li>
      <li ng-if="!(tabCtrl.objsImpacto|filter:{idJurisdiccion:tabCtrl.filtro.jurisdiccion._id}).length" class="text-center" style="padding-top: 10px; padding-bottom: 10px;">
        <em>No hay ninguna misión cargada</em>
      </li>
    </ul>
  </div>
</div>
