<div class="container-fluid" ng-controller="ComunasCtrl">
    <div class="row-fluid">
        <div class="card span3">
            <h3 class="card-heading simple">Filtro</h3>
            <div class="card-body">
                <!-- Panel izquierdo -->
                <div class="control-group" style="display: block; margin-top:15px; margin-bottom:25px">
                    <div class="controls">
                        <input placeholder="Barrio..." type="text" class="input-block-level search-query" ng-model="filtro.barrios"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="card span9" style="padding-top: 0px;">
            <div class="card-body">
                <div class="span2" align="center">Comuna:</div>
                <div class="span8">Barrios:</div>
                <div class="span2"></div>
                <BR><hr style="margin-bottom: 10px; margin-top: 10px; border-bottom-width: 2px; border-top-width: 2px;">
                <div class="row-fluid" style="margin-bottom: 10px;"
                	ng-repeat="c in comunas | orderBy:'numero' | filter:filtro">
            		<div class="span2" align="center">
            			{{c.nombre}}
            		</div>
                    <div class="span8">
                		{{c.barrios}}
            		</div>
                    <div class="span2">
            			<a ng-click="ver(c)" class="btn btn-link pull-right" ng-if=hasPermission('comunas.editar') ><i class="icon-zoom-in"></i> Ver detalle</a>
            		</div>
            	</div>
                <div class="row-fluid" ng-show="!comunas.length">No hay ninguna comuna</div>
            </div>
        </div>
    </div>
</div>

