<div class="well" ng-controller="ChangePasswordCtrl">
    <h3>Cambiar clave</h3>
    <form ng-submit="save()">
        <div class="controls-group">
            <label>Usuario:</label>
            <input type="text" disabled class="input-large" value="{{user.username}}"
            />
        </div>
        <div class="controls-group">
            <label>Nueva clave:</label>
            <input type="password" class="input-large" ng-model="newPassword"
            />
        </div>
        <input class="btn btn-primary" type="submit" value="Cambiar clave" />
    </form>
</div>