<style>
    legend{
        padding-left:15px;   
    }
    .timeline {
        list-style: none;
        padding: 20px 0 20px;
        position: relative;
    }

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

    .timeline > li:before,
    .timeline > li:after {
        content: " ";
        display: table;
    }

    .timeline > li:after {
        clear: both;
    }

    .timeline > li:before,
    .timeline > li:after {
        content: " ";
        display: table;
    }

    .timeline > li:after {
        clear: both;
    }

    .timeline > li > .timeline-panel {
        width: 46%;
        float: left;
        border: 1px solid #d4d4d4;
        border-radius: 2px;
        padding: 20px;
        position: relative;
        -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    }

    .timeline > li > .timeline-panel:before {
        position: absolute;
        top: 26px;
        right: -15px;
        display: inline-block;
        border-top: 15px solid transparent;
        border-left: 15px solid #ccc;
        border-right: 0 solid #ccc;
        border-bottom: 15px solid transparent;
        content: " ";
    }

    .timeline > li > .timeline-panel:after {
        position: absolute;
        top: 27px;
        right: -14px;
        display: inline-block;
        border-top: 14px solid transparent;
        border-left: 14px solid #fff;
        border-right: 0 solid #fff;
        border-bottom: 14px solid transparent;
        content: " ";
    }

    .timeline > li > .timeline-badge {
        color: #fff;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
        text-align: center;
        position: absolute;
        top: 16px;
        left: 50%;
        margin-left: -25px;
        background-color: #999999;
        z-index: 100;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
    }

    .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
    }

    .timeline > li.timeline-inverted > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    .timeline > li.timeline-inverted > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }

    .timeline-badge.primary {
        background-color: #2e6da4 !important;
    }
    
    .timeline-badge.success {
        background-color: #3f903f !important;
    }
    
    .timeline-badge.warning {
        background-color: #f0ad4e !important;
    }
    
    .timeline-badge.danger {
        background-color: #d9534f !important;
    }
    
    .timeline-badge.info {
        background-color: #5bc0de !important;
    }
    
    .timeline-title {
        margin-top: 0;
        color: inherit;
    }

    .timeline-body > p,
    .timeline-body > ul {
        margin-bottom: 0;
    }

    .timeline-body > p + p {
        margin-top: 5px;
    }
    .nada:hover{
        background-color:#CFCDCD;
    }
    .warning:hover{
        background-color:#E6B877;
    }
    .danger:hover{
        background-color:#E67777;
    }
    .info:hover{
        background-color:#6EAEAD;
    }
    .success:hover{
        background-color:#87AE6E;
    }
</style>
<div class="card" ng-controller="UDEPRegistroCtrl">
    <legend>Reporte de {{fud.nombreDelPrograma}}</legend>
    
    <div class="container">
        <ul class="timeline">
            <li ng-repeat="i in registros" ng-class="{'timeline-inverted':$index%2!=0}"> <!--En los registros impares se pone a la derecha-->
              <div class="timeline-badge {{claseMisteriosa(i.porcentajeCarga)}}"><i class="{{devolverIcono(i.descripcion)}}"></i></div>
              <div class="timeline-panel {{claseMisteriosa(i.porcentajeCarga)}}">
                <div ng-if="$index%2!=0" class="timeline-heading">
                    <div class="pull-left" style="display:inline-block; margin-left:15px">
                        <h4 class="timeline-title"> {{i.descripcion}}</h4>
                        <p><small class="text-muted"><i class="icon-time"></i> {{i.fecha}} ({{i.usuario}})</small></p>
                    </div>
                    <div class="pull-right" style="border-radius:100%; background-color: {{colorFondo(i.porcentajeCarga)}}; width:50px; height:50px; text-align:center; display:inline-block; margin-right:35px">
                        <h4 style="margin-top:15px; color:white"><b>{{i.porcentajeCarga}}%</b></h4>
                    </div>
                </div>
                <div ng-if="$index%2==0" class="timeline-heading">
                    <div class="pull-right" style="display:inline-block; margin-right:30px">
                        <h4 class="timeline-title"> {{i.descripcion}}</h4>
                        <p><small class="text-muted"><i class="icon-time"></i> {{i.fecha}} ({{i.usuario}})</small></p>
                    </div>
                    <div class="pull-left" style="border-radius:100%; background-color: {{colorFondo(i.porcentajeCarga)}}; width:50px; height:50px; text-align:center; display:inline-block; margin-right:35px">
                        <h4 style="margin-top:15px; color:white"><b>{{i.porcentajeCarga}}%</b></h4>
                    </div>
                </div>
              </div>
            </li>
        </ul>
    </div>
    
</div>