<div class="container">
    <div class="row">
        <div ng-controller="FiscalesCtrl" class="card span12">
            <h3 class="card-heading simple">Fiscales para {{evento.evento}} ({{evento.territorio}})
                <a ng-hide="editando" href="/fiscales/nuevo/{{evento._id}}" class="btn btn-link pull-right"><i class="icon-plus"></i></a>
                <input type="text" style="margin-right:10px; margin-bottom:10px;width: 180px;" class="input-level-block search-query pull-right" placeholder="Buscar por..." ng-model="filtro" /></h3>
            <!--Filtro-->
            
            <div style="text-align:center;margin-top: 10px;" class="form-horizontal">
                <a style="padding:0px" ng-class="{'btn-inverse': l == letraSeleccionada}" class="btn" ng-click="seleccionarLetra(l)" href="#" ng-repeat="l in abecedario">{{l}}</a>
                <a style="padding:0px" ng-class="{'btn-inverse': 'Todos' == letraSeleccionada}" class="btn" ng-click="seleccionarLetra('Todos')" href="#" >&nbsp;Todos&nbsp;</a>
            </div>
            
            <div class="form-horizontal" name="form" style="margin-left:10px; padding-top: 16px; clear: both">
                <div class="row" style="padding-bottom: 10px;">
                    <div ng-show="!tipoOrdenDNI" class="span1" style="display: table-cell;margin-left: 70px;"><a href="#" ng-click="orden = 'dni'; tipoOrdenCargo=true" style="display: inline-block; color:#404040;">DNI:</a></div>
                    <div ng-show="tipoOrdenDNI" class="span1" style="display: table-cell;margin-left: 70px;"><a href="#" ng-click="orden = '-dni'; tipoOrdenCargo=false" style="display: inline-block; color:#404040;">DNI:</a></div>
                    
                    <div ng-show="!tipoOrdenApellidos" class="span3" style="display: table-cell"><a href="#" ng-click="orden = 'apellidos'; tipoOrdenApellidos=true" style="display: inline-block; color:#404040;">Nombre:</a></div>
                    <div ng-show="tipoOrdenApellidos" class="span3" style="display: table-cell"><a href="#" ng-click="orden = '-apellidos'; tipoOrdenApellidos=false" style="display: inline-block; color:#404040;">Nombre:</a></div>
                    
                    <div ng-show="!tipoOrdenSexo" class="span1" style="display: table-cell"><a href="#" ng-click="orden = 'sexo'; tipoOrdenSexo=true" style="display: inline-block; color:#404040;">Sexo:</a></div>
                    <div ng-show="tipoOrdenSexo" class="span1" style="display: table-cell"><a href="#" ng-click="orden = '-sexo'; tipoOrdenSexo=false" style="display: inline-block; color:#404040;">Sexo:</a></div>
                    
                    <div class="span2" style="display: table-cell">Celular:</div>
                    
                    <div class="span2" style="display: table-cell"><a href="#" ng-click="orden = 'mail'" style="display: inline-block; color:#404040;">Email:</a></div>
                    
                    <div class="span1" style="display: table-cell">Comuna:</div>
                </div>
            </div>
            <hr style="margin-bottom: 0px;margin-top: 0px;">
            <ul class="nav nav-list">
              <li ng-repeat="c in contactos | orderBy:'apellido' | orderBy:orden | filter:letra | filter:filtro">
                <a style="font-size: 12px;padding-top: 8px;padding-bottom: 8px;" href="/fiscales/detalle/{{c._id}}">
                <span class="span1">{{c.dni}}</span>
                <span class="span3">{{c.apellido}}, {{c.nombre}}</span>
                <span class="span1"><div ng-if="c.sexo == 'M'">Masculino</div><div ng-if="c.sexo == 'F'">Femenino</div></span>
                <span class="span2">{{c.celular}}</span>
                <span class="span2">{{c.mail}}</span>
                <span class="span1">{{c.comuna}}</span></a>
              </li>
              <li ng-if="!contactos.length" class="text-center">
                <em>No hay cargas aún</em>
              </li>
            </ul>
        </div>
    </div>
</div>