<script type "text/javascript" src="/templates/regularizacionDominial/h2c.js"></script>
<style type="text/css">
    body {
        background-image: none !important;
    }
    input.disabled, input[disabled] {
        background-color: #ffffff;
    }
</style>

<a class="btn btn-info btn-large no-print" href="javascript:window.print()"
ng-show="printReady"><i class="icon-print icon-white"></i> Imprimir</a>
<span class="no-print" style="padding: 10px; margin-right: 90px; display: inline-block; float: right;" ng-style="{'background-color': '#a6eca6'}">Piense antes de imprimir. Ahorrar papel es cuidar nuestro Medio Ambiente. Ley Nº 2736.</span>
<h3>Regularización Dominial</h3>
<div id="map" openlayers current-tool="dominiosVista.currentTool" ol-extent="dominiosVista.extent" ol-style="dominiosVista.style" ol-selected-indexes="dominiosVista.selectedIndexes" style="width: 660px; height: 400px; float: left; position: relative; left: 15px"
    ol-features="dominiosVista.features" ng-model="dominiosVista"></div>
<div style="float: left; margin: 20px;">
    <h4 style="margin-top: 0px;">Referencias:</h4>
    <div ng-repeat="s in tipos | orderBy:'-total'">
        <span style="display: inline-block; width: 10px; height: 10px" ng-style="{'background-color': s.color}">&nbsp;</span>
        <a href="/regularizacionDominial?tipo={{s.nombre}}" style="color:#404040">{{s.nombre}}: </a>
        <span class="pull-right">{{s.total}} ({{porcentaje(s.total,todosDominios.length)}}%)</span>
    </div>
    <div style="margin-top: 7px;">
        <a href="/regularizacionDominial" style="color:#404040; font-size:16px">Total: </a>
        <span class="pull-right">{{todosDominios.length}}</span>
        <br />
        <br />
        <div class="progress">
            <div class="bar bar-success" style="font-size: 14px; width: {{porcentaje(enProgreso,todosDominios.length)}}%;">{{porcentaje(enProgreso,todosDominios.length)}}%</div>
        </div>
    </div>
</div>
</div>
<div ng-repeat="c in dominios">
    <hr />
    <div style="clear: both; padding-top: 16px; padding-bottom: 16px;">
        <span style="display: inline-block"> Denominación:<br /> 
                <input class="span6" type="text" ng-disabled="!editando" ng-model="c.denominacion" />
    		</span> 
            <span style="display: inline-block"> Calle:<br /> 
                <input class="span4" type="text" ng-disabled="!editando" data-provide="typeahead" data-items="4" 
        		ng-model="c.calle" id="calle-typeahead" data-source={{calles}} />
    		</span> 
            <span style="display: inline-block"> Altura:<br /> 
                <input class="span1" type="text" ng-disabled="!editando" disabled ng-model="c.altura" />
    		</span> 
            <span style="display: inline-block"> Comuna:<br /> 
                <input class="span2" type="text" data-provide="typeahead" data-items="4" ng-disabled="!editando" ng-model="c.comuna" id="comuna-typeahead" data-source={{comunasNombres}} >
    		</span> 
            <span style="display: inline-block"> Clasificación:<br /> 
                <input type="text" class="span2" data-provide="typeahead" data-items="4" ng-model="c.tipo" id="tipo-typeahead" ng-disabled="!editando" data-source={{tiposNombres}} >
    		</span>
            <span style="display: inline-block"> Población:<br /> 
                <input type="text" class="span2" ng-model="c.poblacion" ng-disabled="!editando" >
    		</span>
    		<span class="btn-group" data-toggle="buttons-radio" style="margin-bottom: 30px;margin-right: 20px;margin-left: 20px;">
                <label style="margin-bottom: 0px;">Regularizado:</label>
                <button class="btn" ng-disabled="!editando" ng-class="(c.regularizado === true) && 'active btn-info'" ng-click="c.regularizado=true">Si</button>
                <button class="btn" ng-disabled="!editando" ng-class="(c.regularizado === false) && 'active btn-info'" ng-click="c.regularizado=false">No</button>
            </span>
            <span class="btn-group" data-toggle="buttons-radio" style="margin-bottom: 30px;margin-right: 20px;">
                <label style="margin-bottom: 0px;">Regularizable:</label>
                <button class="btn" ng-disabled="!editando" ng-class="(c.regularizable === true) && 'active btn-info'" ng-click="c.regularizable=true">Si</button>
                <button class="btn" ng-disabled="!editando" ng-class="(c.regularizable === false) && 'active btn-info'" ng-click="c.regularizable=false">No</button>
            </span>
            <span class="btn-group" data-toggle="buttons-radio" style="margin-bottom: 30px;margin-right: 20px;">
                <label style="margin-bottom: 0px;">Escriturada:</label>
                <button class="btn" ng-disabled="!editando" ng-class="(c.escriturada === true) && 'active btn-info'" ng-click="c.escriturada=true">Si</button>
                <button class="btn" ng-disabled="!editando" ng-class="(c.escriturada === false) && 'active btn-info'" ng-click="c.escriturada=false">No</button>
            </span>
            <span class="btn-group" data-toggle="buttons-radio" style="margin-bottom: 30px;margin-right: 20px;">
                <label style="margin-bottom: 0px;">Escriturable:</label>
                <button class="btn" ng-disabled="!editando" ng-class="(c.escriturable === true) && 'active btn-info'" ng-click="c.escriturable=true">Si</button>
                <button class="btn" ng-disabled="!editando" ng-class="(c.escriturable === false) && 'active btn-info'" ng-click="c.escriturable=false">No</button>
            </span> 
            <span style="display: inline-block"> Características:<br /> 
                <textarea class="span11" line-height="5" type="text" ng-disabled="!editando" ng-model="c.caracteristicas" />
    		</span>
        <h4>Fotos</h4>
        <div ng-hide="c.fotos.length">No se ha cargardo ninguna foto aún</div>
        <img ng-repeat="f in c.fotos"
        style="margin: 10px" src="/file/{{f}}" width="512" height="384">
        <div>
            <h4>Observaciones:</h4>
            <div ng-hide="c.observaciones.length">No se ha cargardo ninguna observación aún</div>
                        <div ng-repeat="o in c.observaciones"
            style="clear:both; min-height: 40px; margin-top: 20px; margin-bottom: 20px">
                <div class="pull-right" style="display: inline-block">
                    <button ng-show="o.tipoObservacion == 'relevamiento'" type="button"
                    class="btn disabled btn-info">Relevamiento</button>
                    <button type="button" ng-show="o.tipoObservacion == 'otra'"
                    class="btn disabled btn-info">Otra</button>
                    
                </div>
                <p>{{o.observaciones}}</p>
                <div ng-show="o.proximoHito"><br />Proximo hito: {{o.fechaProximoHito}}</div>
        </div>
    </div>
</div>
