<div ng-controller="AgendaMinutaNavbarCtrl">
    <div class="btn-group pull-right" style="margin-right: 7px">
        <a class="btn btn-link" ng-hide="editando || mostrarme" ng-click="editar()">
            <i class="icon-edit"></i>&nbsp;Activar edición</a>
        <a class="btn btn-link" ng-show="editando" ng-click="cerrarEditar()">
            <i class="icon-edit"></i>&nbsp;Cerrar edición</a>
        <a class="btn btn-link" ng-hide="editando || mostrarme" ng-click="comenzarEnvio()">
            <i class="icon-edit"></i>&nbsp;Enviar compromisos</a>
    </div>
</div>